.art-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .art-card img {
    width: 100%;
    height: auto;
  }
  
  .art-card:hover {
    transform: scale(1.05);
  }
  